## =======================
# Variables de Entorno
## =======================
.env
.env.*


# =========================
# 🔐 Secrets (credenciales)
# =========================
/secrets/*
!/secrets/.gitkeep

# =========================
# 💾 Volúmenes / datos persistentes
# =========================
/volumes/*
!/volumes/.gitkeep


#=========================
#Backups de Datos
#========================
postgres/init/04_datos_rem.sql
postgres/init/05_datos_iot.sql
